/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    border: 30px solid #27384C; 
}

header, footer {
    background-color: #DFDFDF;
    color: black;
    padding: 20px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Estilos para el main */
main {
    display: flex;
}

.main-left {
    flex: 1;
    padding-right: 20px; /* Espaciado a la derecha para separar las columnas */
    margin-left: 20px; /* Agregamos un margen a la izquierda */
    text-align: center; /* Centramos el texto en la columna izquierda */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-left h2 {
    color: #333;
    font-size: 24px;
    text-align: left; /* Ajustamos el texto de los encabezados a la izquierda */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-left ul {
    list-style-type: none;
    padding: 0;
    text-align: left; /* Ajustamos el texto de la lista a la izquierda */
}

.main-left ul li {
    margin-bottom: 10px;
    padding-left: 20px; /* Espaciado a la izquierda para separar los elementos de la lista */
    position: relative; /* Para ajustar el icono de lista */
}

.main-left ul li:before {
    content: "•"; /* Utilizamos un icono de viñeta personalizado */
    color: #333;
    font-size: 12px;
    position: absolute;
    left: 0;
}

.main-right {
    width: 300px; /* Ancho deseado */
    background-color: #27384C; /* Color del borde */
    color: #fff; /* Color del texto */
    padding: 20px;
    margin-left: 20px; /* Agregamos un margen a la izquierda */
    margin-right: 30px;
    display: flex; 
    flex-direction: column; /* Alineamos los elementos verticalmente */
    align-items: left; /* Centramos los elementos horizontalmente */
}

.main-right h2 {
    font-size: 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff; /* Color del texto */
}

.main-right p {
    margin: 10px 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profile-image {
    display: flex; 
    justify-content: center; /* Centramos horizontalmente la imagen */
    margin-bottom: 20px; /* Espaciado hacia abajo */
}

.profile-image img {
    border-radius: 50%;
    border: 4px solid #fff; /* Borde blanco */
    width: 220px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 220px; /* Ajusta el tamaño de la imagen según sea necesario */
}


section {
    margin-bottom: 30px;
}

section h2 {
    color: #333;
    font-size: 24px;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

/* Estilos para el enlace de descarga del PDF */
section p a {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

section p a:hover {
    background-color: #555;
}

/* Estilos para el encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-left {
    flex: 1;
    text-align: left; /* Alineamos el texto a la izquierda */
}

.header-right {
    flex: 1;
    text-align: right;
}

.header-right h1 {
    margin: 0;
}

.header-right p {
    margin-top: 5px;
}
